.odd-thumb li a {
    padding-left: 80px !important;
}
.thumbnail {
    position: absolute;
    left: 0; top: 0; bottom: 0;
    width: 80px;
    text-align: center;
}

.thumbnail img {
    position: absolute;
    margin: auto;
    bottom: 0; left: 0; top: 0; right: 0;
    max-width: 75px;
    max-height: 63px;
}