<div data-role="content" class="content">
  <h1>Find a band</small></h1>
  <form method="post" action="/bands">
    <input type="search" name="search_band" id="search-mini" value="" data-mini="true" />
  </form>

  <div class="ui-grid-c ui-responsive">
    <div class="ui-block-a"></div>
    <div class="ui-block-b"></div>
    <div class="ui-block-c"></div>
    <div class="ui-block-d"><img src="/songkick.png" /></div>
  </div>

  <% if @bands %>
    <ul data-role="listview" data-inset="true" data-count-theme="b" class="odd-thumb">
    <% @bands["resultsPage"]["results"]["artist"].map do |band| %>
      <li>
        <a href="/bands/<%=band["id"]%>">
        <div class="thumbnail">
          <img src="http://fc01.deviantart.net/fs70/f/2012/089/a/8/rainbow_cat_by_cadaverousjc-d4uegwp.jpg" />
        </div>
        <h2><%= band["displayName"] %><span class="ui-li-count">12</span></h2>
        </a>
      </li>
    <% end %>
    </ul>
  <% end %>
</div>