<div data-role="content" class="content">
  <h1>Find a band</small></h1>
    <form method="post" action="/bands">
      <input type="search" name="search_band" id="search-mini" value="" data-mini="true" />
    </form>

    <% if @bands %>
      <ul data-role="listview" data-inset="true">
      <% @bands["resultsPage"]["results"]["artist"].map do |band| %>
        <li>
          <a href="/bands/<%=band["id"]%>">
          <h2><%= band["displayName"] %></h2></a>
        </li>
      <% end %>
      </ul>
    <% end %>
</div>