<div data-role="content" class="content">
  <h1>This is the bands page <small>Start following</small></h1>
    <% @bands.each do |band| %>
      <p>
        <%= band.name %> - <a href ="bands/<%=band.id%>/follow">follow</a>
      </p>
    <% end %>
</div>