<div data-role="content" class="content">
  <h1>Find a band</small></h1>
    <form method="post" action="/bands">
      <input type="search" name="search-band" id="search-mini" value="" data-mini="true" />
    </form>
</div>