<div data-role="content" id="band">
  <div data-role="main" class="ui-content">
    <a href="#" class="ui-btn" data-rel="back">back</a>
      <h1>
        <%= @band.display_name %>

        <a href="/bands/<%=@band.id%>/follow" data-role="button" data-inline="true" data-theme="b" data-icon="plus" data-iconpos="notext">Follow</a>
      </h1>

    <% if @events.length > 0 %>
      <h4>Upcoming Concerts</h4>
      <% @events.map do |event| %>
      <div>
        <p><%= event.display_name %></p>
      </div>
      <% end %>
    <% end %>
  </div>
</div>