<div data-role="content" class="content">
  <h1>
    <%= @band.display_name %>

    <a href="/bands/<%=@band.id%>/follow" data-role="button" data-inline="true" data-theme="b" data-icon="plus" data-iconpos="notext">Follow</a>
  </h1>
  <div class="panel panel-primary">
    <% if @events.length > 0 %>
      <h4>Upcoming Concerts</h4>
      <% @events.map do |event| %>
      <div class="list-group-item">
        <p><%= event.display_name %></p>
      </div>
      <% end %>
    <% end %>
  </div>
</div>