<div data-role="content" class="content">
  <h1><%= @band.display_name %></h1>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4>Upcoming Concerts</h4>
    </div>
    <% if @events %>
      <% @events.results.map do |event| %>
      <div class="list-group-item">
        <p><%= event.display_name %></p>

      </div>
      <% end %>
    <% end %>
  </div>
</div>