<div data-role="content" class="content">
  <h1> Hi <%= @user.username %></h1>
  <% if @bands %>
      <h4>Bands you follow</h4>
      <% @bands.each do |band| %>
      <%= partial(:_show, band: band) %>
    <% end %>
  <% else %>
    <p>Looks like you currently don't have any favorites, click <a href="/bands">here</a> to start adding your favorite bands now!</p>
  <% end %>
</div>


