<div data-role="content" class="content">
  <h1> This is the profile page
  <small>Hi <%= @user.username %></small></h1>
  <% if @bands.length > 0 %>
      <h4>Bands you follow</h4>
      <% @bands.each do |band| %>
      <p><a href="/bands/<%= band.id %>"><%= band.display_name %></a>
    <% end %>
  <% end %>
</div>


