<div data-role="content" class="content">
  <h1>Sign In</h1>
  <% if @errors %>
    <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      Please enter email address and password correctly.
    </div>
  <% end %>

  <form method="post" action="/session">
    <div class="form-group">
      <label for="email" class="col-sm-2 control-label">Email
      </label>
      <div class="col-sm-5">
        <input type="email" class="form-control" name="session[email]" placeholder="me@example.com">
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="col-sm-2 control-label"> Password</label>
      <div class="col-sm-5">
        <input type="password" class="form-control" name="session[password]" placeholder="6 or more characters">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Sign in</button>
      </div>
    </div>
  </form>
</div>


