<div data-role="content" class="content">
  <h1>Sign Up</h1>

  <% if @errors %>
    <% @errors.each do |error| %>
    <p><input type="text" data-theme="e" value="<%= error %>" /></p>
    <% end %>
  <% end %>

  <form method="post" action="/users">
    <div>
      <label for="username">Username</label>
      <div>
        <input type="text" name="username" placeholder="bandfan">
      </div>
    </div>
    <div>
      <label for="text">Email</label>
      <div>
        <input type="email" name="email" placeholder="me@example.com">
      </div>
    </div>
    <div>
      <label for="password">Password</label>
      <div>
        <input type="password" name="password" placeholder="6 or more characters" required>
      </div>
    </div>
    <div>
      <input type="submit" value="Submit">
    </div>
  </form>
</div>
</div>

